<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>subject</servlet-name>
		<servlet-class>ua.rafael.servlet.subject.SubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subject</servlet-name>
		<url-pattern>/subjects</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>subject-add</servlet-name>
		<servlet-class>ua.rafael.servlet.subject.SubjectAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subject-add</servlet-name>
		<url-pattern>/subjects/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>subject-delete</servlet-name>
		<servlet-class>ua.rafael.servlet.subject.SubjectDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subject-delete</servlet-name>
		<url-pattern>/subjects/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>subject-update</servlet-name>
		<servlet-class>ua.rafael.servlet.subject.SubjectUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subject-update</servlet-name>
		<url-pattern>/subjects/update</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>student</servlet-name>
		<servlet-class>ua.rafael.servlet.student.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student</servlet-name>
		<url-pattern>/students</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student-add</servlet-name>
		<servlet-class>ua.rafael.servlet.student.StudentAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-add</servlet-name>
		<url-pattern>/students/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student-delete</servlet-name>
		<servlet-class>ua.rafael.servlet.student.StudentDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-delete</servlet-name>
		<url-pattern>/students/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>student-update</servlet-name>
		<servlet-class>ua.rafael.servlet.student.StudentUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-update</servlet-name>
		<url-pattern>/students/update</url-pattern>
	</servlet-mapping>


</web-app>